body {
  color: #48555b;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header__decoration {
  height: 100vh;
  width: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
  line-height: normal;
}

.logo {
  width: 101.618px;
  height: 23px;
}

.header__title {
  font-size: 60px;
  letter-spacing: 5.709px;
}

.header__subtitle {
  font-size: 16px;
  font-weight: 600;
}

.header__button {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.7px;
}

.header__navigation {
  border: 1px solid #e6e6e6;
}

.container {
  max-width: 970px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__navigation-inner {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}

.logo_black {
  width: 79.527px;
  height: 18px;
}

.header__navigation-list {
  display: flex;
  gap: 48px;
}

.header__navigation-link {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.091px;
}

.header__navigation-link_active {
  color: #00a4e5;
  font-weight: 700;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
}

.about__title {
  position: relative;
}

.about__title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  position: absolute;
  bottom: -10px;
  left: 47%;
}

.services__title {
  position: relative;
}

.services__title::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about__inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about__content {
  display: flex;
  gap: 30px;
}

.about__content-text,
.about__content-decoration {
  width: 50%;
}

.about__text {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.188px;
  margin-bottom: 30px;
}

.about__text_active {
  color: #16ace8;
}

.about__content-decoration {
  display: flex;
  gap: 30px;
}

.about__card {
  width: 400px;
  height: 225px;

  color: #fff;

  font-size: 24px;
  font-weight: 800;
  line-height: 29px; /* 120.833% */
  letter-spacing: 0.188px;

  padding-left: 14px;
  padding-top: 15px;
}

.about__card_plan {
  background-image: url("../images/plan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 30%;
}

.about__card_manage {
  background-image: url("../images/manage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about__card_build {
  background-image: url("../images/build.png");
}

.services__inner {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.services__info {
  display: flex;
  justify-content: space-between;
}

.services__info div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 70%;
}

.services__text {
  font-size: 11px;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
}

.button {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  color: white;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__card {
  width: 295px;
  height: 330px;
  border: 1px solid #e6e6e6;

  background: #fff;
  padding: 40px 22px;
}

.services__card-image {
  width: 65.625px;
  height: 75px;
}

.services__card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
  margin-top: 25px;
  margin-bottom: 13px;
}
